<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734742044017-df5f2871f1v8bt9aingdsnc1k863ktup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734742044017-df5f2871f1v8bt9aingdsnc1k863ktup</string>
	<key>API_KEY</key>
	<string>AIzaSyBHQg95gtm9tnWma3qmkQa1ss35tJUmANE</string>
	<key>GCM_SENDER_ID</key>
	<string>734742044017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jessica-trinh.Divvy</string>
	<key>PROJECT_ID</key>
	<string>divvy-ad47b</string>
	<key>STORAGE_BUCKET</key>
	<string>divvy-ad47b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734742044017:ios:c101e2042f3fff4abe6ad0</string>
	<key>DATABASE_URL</key>
	<string>https://divvy-ad47b.firebaseio.com</string>
</dict>
</plist>